<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<meta name="renderer" content="webkit">
		<!-- 目前仅限360急速浏览 webkit:急速  ie-comp:ie兼容模式   ie-stand: ie标准模式 -->
		<title>
			<{$data_site.default_keywords}>
		</title>
		<link rel="stylesheet" type="text/css" href="<{$res}>/css/index.css" />
		<!--本页面样式-->
		<link rel="stylesheet" type="text/css" href="<{$res}>/lunbo/css/yx_rotaion.css" />
		<!--轮播图样式-->
		<script type="text/javascript" src="<{$res}>/js/url.js"></script>
	</head>
	<!--头部-->
	<script type="text/javascript">
		function GetQueryStrings(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
			var r = window.location.search.substr(1).match(reg);
			if (r != null) return decodeURI(r[2]);
			return null;
		}

	
	</script>
	<body>
		<header>
			<!--logo区-->
			<div class="header_max">
				<div class="max_now">
					<div class="max_now_img">
						<a href=""><img src="<{$public}>/uploads/home_adv/<{$data_site.site_logo}>" alt="logo" title="logo" /></a>
					</div>
					<div class="max_now_logo">
						<div class="max_now_poane">
							<{$data_site.company_tel}>
						</div>
					</div>

				</div>
			</div>
			<!--导航-->
			<div class="daohang">
				<div class="menu">
					<ul class="nav">
						<{foreach $data_column as $key=>$val}>
							<li>
								<a href="<{$val.url}>">
									<{$val.cls_name}>
								</a>
								<ul class="sub-nav">
									<{foreach $val.son_data as $key=>$vk}>
										<a href="<{$vk.url}>">
											<{$vk.cls_name}>
										</a>
										<{/foreach}>
								</ul>
							</li>
							<{/foreach}>
					</ul>
				</div>

			</div>
		</header>
		<!--内容区-->
		<section class="inner_layer">
			<!--左侧-->
			<div class="layer_left">
				<div class="layer_left_title">
					<img src="<{$res}>/images/logo.jpg" height="50" title="logo图" alt="logo图" />
				</div>
				
				<{foreach $json_data.left_data as $key=>$left_l}>
					<div class="layer_left_content">
						<!--?id=<{$left_l.news_cls_id}>-->
						<a href="/whlist"><h4><{$left_l.news_cls_name}></h4></a>
						<{foreach $left_l.news_data as $key=>$left_h}>
							<a id="<{$left_h.news_id}>" class="bot_class" href="/whshow?id=<{$left_h.news_id}>">
								<{$left_h.news_name}>
							</a>
						<{/foreach}>
						
					</div>
				<{/foreach}>	
				
			</div>
			
