<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>关于我们</title>

    <script src="<{$res}>/about/js/jquery-1.8.3.min.js"></script>

    <link rel="stylesheet" type="text/css" href="<{$res}>/about/css/reset.css">

    <link rel="stylesheet" type="text/css" href="<{$res}>/about/css/style.css">

    <link rel="stylesheet" type="text/css" href="<{$res}>/about/css/swiper-3.4.2.min.css">


    <script src="<{$res}>/about/js/js.js"></script>

    <script src="<{$res}>/about/js/swiper.js"></script>

    <script>

        $(function () {

            $(window).scroll(function(){

                if($(window).scrollTop()>100){

                    $('#fixed').css({'height':'60px','opacity':0.9,'lineHeight':'60px','zIndex' : '100000'})
                    $('.top-l a img').attr('src','<{$res}>/about/images/logo.png').css('marginTop','10px');
                    $('.top-l a img').css('width','100px');
                }

                else{
                    $('#fixed').css({ 'height':'100px','opacity':1,'lineHeight':'100px'});
                    $('.top-l a img').attr('src','<{$res}>/about/images/logo.png').css('marginTop','20px');
                    $('.top-l a img').css('width','auto');

                }

            });

        });

    </script>

</head>

<body>

<div class="out-wrap">

    <div class="topBar" id="fixed">

        <div class="public-container">

            <div class="top-l fl clearfix"><a href="http://www.zhongguoyuncai.com/"><img src="images/logo.png" alt=""></a></div>

            <div class="top-r fr clearfix">

                <ul class="sign-box">|

                    <li><a href="http://www.zhongguoyuncai.com/">注册</a></li>

                    <li><a href="http://www.zhongguoyuncai.com/">登录</a></li>

                </ul>

            </div>

            <div class="top-m fr clearfix">

                <ul class="nav">

                    <li class="nav-item"><a href="#">关于我们</a></li>

                    <li class="nav-item"><a href="#">名称释义</a></li>

                    <li class="nav-item"><a href="#">发展历程</a></li>

                    <li class="nav-item"><a href="#">运行系统</a></li>

                    <li class="nav-item"><a href="#">企业文化</a></li>

                    <li class="nav-item"><a href="#">社会荣誉</a></li>

                    <li class="nav-item"><a href="#" style="cursor: default;">|</a></li>

                </ul>

            </div>

        </div>

    </div>

    <div class="layer-bigPost">

        <img src="<{$res}>/about/images/banner.jpg" alt="">

    </div>

    <div class="layer-aboutUs layer">

        <div class="public-container">

            <div class="title">

                <h1>关于我们</h1>

            </div>

            <p>广东云联惠网络科技有限公司（以下简称：云联惠）由广东本土民营企业家黄明先生投资创建，于2014年1月在广州工商局注册成立（目前注册资金为100001万元）、2015年4月正式上线运营（网址： www.yunlianhui.cn），是一家以经营消费资源（消费商）为主要内容的创新型电商平台公司。</p>

            <p>云联惠总部位于广州市第三中轴线与珠江黄金岸线的交汇处——海珠区保利叁悦广场，已先后在中国大陆大部分省、市、区建立代理公司，并将在香港、台湾、澳门、美国、韩国、新加坡、马来西亚、澳大利亚等地筹备组建云联惠分支机构和办事处。</p>

            <p>云联惠秉承“为客牟利，促进销售，培养行业领袖；传递财富，传承共赢，传播事业博爱”的企业发展理念，顺应近年来经济和社会发展亟需变革、创新和转型的潮流趋势，紧紧把握国内国际时尚生活主线，经过两年多时间的运作，已经发展成为一个国际化、多元化、系统化、专业化的国际商业互动消费创业型全新企业，为推动中国全面建设小康社会、实现“中国梦”发挥直接有效的促进作用。</p>

        </div>

    </div>

    <div class="layer-nameExp layer">

        <div class="public-container">

            <div class="title">

                <h1 class="col-e2c784">名称释义</h1>

            </div>

            <div class="layer-nameExp-cont">

                <p>云联惠，即商业市场上不分产业、行业、区域、上下游、买方卖方、产供销节点等，将各种社会效益及商业利益联结、联合，组成一种多维度、多层面、多主体、多领域、广泛交互式的云状商业生态链、生态圈，达到全员参与和参与全员的资源整合、利益最大化、互利共赢。</p>

                <p>同时，这也是云联惠标示设计理念中包含的：消费者、商家、云联惠系统平台，三者共创1+1+1﹥111的内涵展现。</p>

            </div>

        </div>

    </div>

    <div class="layer-develop layer">

        <div class="public-container">

            <div class="title">

                <h1>发展历程</h1>

            </div>

            <div class="wrap-develop">

                <div class="square fl clearfix"></div>

                <div class="date-develop fl clearfix" id="dateDeve">2016.03</div>

                <div class="date-event fl clearfix" id="dateEvent">第六届中国经济高层论坛暨中国消法研究会3.15案（事）例发布会，云联惠荣获“2015年中国消费者满意度调查金鼎奖”。</div>

            </div>

        </div>

        <div class="timeline-wrap">

            <ul class="timeline clearfix" id="timeline">

                <li property1="云联国际投资集团有限公司在香港注册成立。">2013.09</li>

                <li property1="广东云联国骥投资管理有限公司在广州注册成立。">2013.12</li>

                <li property1="广东云联惠网络科技有限公司在广州注册成立。">2014.01</li>

                <li property1="“新常态•中国经济发展创新模式研讨会暨《云联商业大系统》商业模式论证会”举行，《云联商业大系统》正式启动运营。">2015.04</li>

                <li property1="首届“云联惠99国际消费乐返节”举办。 ">2015.09</li>

                <li property1="“珍爱生命·筑梦中国·2016云联惠禁毒万里行”暨云联惠2016年度发展重大资讯新闻发布会举行。">2015.12</li>

                <li property1="“珍爱生命·筑梦中国·2016云联惠禁毒万里行”系列活动起步仪式举行。">2016.01</li>

                <li class="active" property1="第六届中国经济高层论坛暨中国消法研究会3.15案（事）例发布会，云联惠荣获“2015年中国消费者满意度调查金鼎奖”。">2016.03</li>

                <li property1="云联惠正式入驻广州市海珠区琶洲保利叁悦广场A塔作为公司总部。">2016.03</li>

                <li property1="云联惠应邀参加 “中国大数据产业峰会暨中国电子商务创新发展峰会”。 ">2016.05</li>

                <li property1="“生命礼赞”2016年禁毒公益特别节目在京举行，2016云联惠禁毒万里行圆满收官。">2016.06</li>

                <li property1="“2016云联惠999国际消费乐返节”盛大举办。 ">2016.09</li>

                <li property1="黄明董事长出席全国脱贫攻坚表彰大会。">2016.10</li>

                <li property1="云联惠入选“2016民生示范工程”。">2016.10</li>

                <li property1="“云联大爱 生生不息”云联惠成立三周年庆典隆重举行。">2016.12</li>

            </ul>

        </div>

    </div>

    <div class="layer-system layer">

        <div class="public-container">

            <div class="title">

                <h1 class="col-e2c784">五大专利系统</h1>

            </div>

            <div>

                <ul class="system5">

                    <li class="sys1">云联商业大系统</li>

                    <li class="sys2">会员结算系统</li>

                    <li class="sys3">财富支付系统</li>

                    <li class="sys4">代理机制系统</li>

                    <li class="sys5">企业产品运营大系统</li>

                </ul>

            </div>

            <p>云联商务大系统”是云联惠以《消费资本论》、《创新思维全息商业模式》、《创新思维全息营销模式》、《合纵连横智慧资源整合》等理论为指导，进行实操落地运营的综合系统。此系统将由5大子系统构成：“云联商业大系统”、“会员结算系统”、“财富支付系统”、“代理机制系统”、“企业产品运营大系统”。</p>

            <p>其中最重要的“云联商业大系统”是由云联惠自主研发、拥有独立知识产权的消费返还系统工具，以买方利益最大化为导向，以消费资源为经营内容，以云状联合为经营载体，颠覆性地创造了一种全新的“消费积分返还”商业模式，并以此打造了一个合作共赢、多方得利的平台和促销工具，有效地把消费资源转化成消费资本和消费生产力，从而有效地提高人民群众的消费能力，激发巨大经济潜力和市场需求，以消费拉动生产，促进供给侧改革，推动社会经济发展，可以说是一种市场营销和社会消费的颠覆性革命。</p>

            <div id="sysShow" style="display: none;">

                <p>云联惠所搭建和经营的是一个为人民服务的平台和工具，具有现实的时代背景，以国家政策为导向，是大势所趋、民心所向，是一个“大众创业、万众创新”的创业平台，是践行国家目前所倡导的让群众“能消费、敢消费、愿消费”的有效体现。这种全新的商业模式将成为中国乃至全球今后经济发展的一种强劲助推器，更好地推动资源整合，促进消费升级和扩大，带动新产业、新业态发展，推动经济、产业、模式的发展向更高水平迈进，不仅开创中国消费经济新时代，更成为世界经济复苏的新动力。</p>

                <ul class="patents">

                    <li class="wrapper"><img src="<{$res}>/about/images/patent1.jpg" alt=""></li>

                    <li class="wrapper"><img src="<{$res}>/about/images/patent2.jpg" alt=""></li>

                    <li class="wrapper"><img src="<{$res}>/about/images/patent3.jpg" alt=""></li>

                    <li class="wrapper"><img src="<{$res}>/about/images/patent4.jpg" alt=""></li>

                    <li class="wrapper"><img src="<{$res}>/about/images/patent5.jpg" alt=""></li>

                    <li class="wrapper"><img src="<{$res}>/about/images/patent6.jpg" alt=""></li>

                    <li class="wrapper"><img src="<{$res}>/about/images/patent7.jpg" alt=""></li>

                    <li class="wrapper"><img src="<{$res}>/about/images/patent8.jpg" alt=""></li>

                </ul>

            </div>

            <div id="sysMore">

                <a href="#"></a>

            </div>

        </div>

    </div>

    <div class="layer-boss">

        <div class="public-container">

            <div style="overflow: hidden;">

                <div class="boss-l fl clearfix"><img src="<{$res}>/about/images/boss.jpg" alt=""></div>

                <div class="boss-r fl clearfix">

                    <h1 class="title1">黄明<span class="fouder">（企业创始人）</span></h1>

                    <div class="boss-con">

                        <p style="margin: 50px 0;">云联商业大系统设计人，目前担任广东云联惠网络科技有限公司董事长。</p>

                        <p>1983年，黄明毕业从师范学院后成为一名教师，又先后进入中山大学中文系专科和法律系本科深造，并取得律师执照；1993年，富有拼搏精神的黄明成为创业大军中的一员，陆续创办了广东所罗门实业等多家公司。从教书到下海经商，黄明一直揣怀梦想，喜欢挑战，喜欢研究，希望用科技创新来改变生活。</p>

                        <p>做了十几年的传统生意，传统商业市场上的角逐、拼杀、研讨、深究，使黄明发现社会市场的本质和自然规律——传统营销往往要做到面面俱到，就算有孙悟空的“三头六臂”，也很难一直立足市场——只有掌握市场规则的制定权，才能占到市场的云端或制高点。</p>

                        <h3>授予荣誉</h3>

                        <ul>

                            <li>2014 - 年中国经济人物</li>

                            <li>2015 - 年度中国百名改革创风云人物</li>

                            <li>2015 - 年度推动行业经济发展十大创新人物</li>

                            <li>中国消费经济十大创新人物</li>

                        </ul>

                        <div id="boss-reward" style="display: none;">

                            <img src="<{$res}>/about/images/1.jpg" alt="">

                            <img src="<{$res}>/about/images/6.jpg" alt="">

                            <img src="<{$res}>/about/images/5.jpg" alt="">

                            <img src="<{$res}>/about/images/4.jpg" alt="">

                        </div>

                    </div>

                </div>

            </div>

            <div class="more" id="more"><a href="#"></a></div>

        </div>

    </div>

    <div class="layer-culture layer">

        <div class="public-container">

            <div class="title">

                <h1 class="col-e2c784">企业文化</h1>

            </div>

            <div class="culture-main">

                <img class="fl clearfix wh_bg" src="<{$res}>/about/images/wh_bg.jpg" alt="">

                <div class="culture-con">

                    <ul class="tabs" id="tabs">

                        <li class="active">愿景</li>

                        <li>使命</li>

                        <li>价值观</li>

                        <li>经营理念</li>

                        <li>云联精神</li>

                        <li>行为准则</li>

                        <li>基本原则</li>

                    </ul>

                    <div class="content-wrap" id="content-wrap">

                        <div>

                            <h3>构建一个共创、共享、共赢的和谐社会。</h3>

                            <p>为大众创业、创新提供机会，为实现共享经济新型商业社会转型提供工具和桥梁是我们努力的方向。</p>

                            <p>让世人平等地共享人类科技经济发展、知识科学进步的成果，进而实现共同富裕是我们奋斗的理想。</p>

                            <p>让人们在持续的返还中获得收益，传递财富，传承共赢，从而使社会和谐发展，走向和谐社会是我们共同的愿望。</p>

                        </div>

                        <div class="hide">

                            <h3>成为创新商业规则的制定者。</h3>

                            <p>云联惠开创了一个全新、跨界、人性、正能量的商业模式，随着云联惠消费返还模式的推广和发展，影响力不断扩大，“分享、返还”将打破和重塑了现行的商业规则，在各行各业重新定义的全新商业规则将逐步被世人所接纳和采用，必将为人类社会创造更大的价值。</p>

                        </div>

                        <div class="hide">

                            <h3>惠人利他——为人民服务。</h3>

                            <p>“惠”是智慧。《说文解字》解释：“惠，仁也”，即是“仁爱”；而《孟子》记载：“分人以财谓之惠”，“惠”是给人以钱财，给人爱。惠是利他的，是普惠、是博爱。“惠人利他”的内涵同“为人民服务”是一致的。</p>

                            <p>云联惠消费返还平台是惠及社会大众的、博爱的，它是所有加盟的商家和会员，不分性别、种族、国籍、信仰、年龄，人人都能平等、公平受益的工具。分享、推广云联惠就使更多人受益，帮助他人参与消费返还，共享消费资源，是为客牟利的举动，是“为人民服务”的行动，是奉献博爱的行为。</p>

                        </div>

                        <div class="hide">

                            <h3>经营理念</h3>

                            <p>为客牟利，促进销售，培养行业领袖</p>

                            <p>传递财富，传承共赢，传播事业博爱</p>

                        </div>

                        <div class="hide">

                            <h3>云联精神</h3>

                            <p>低调、务实、执着、海纳川穹、做到最好！</p>

                        </div>

                        <div class="hide">

                            <h3>行为准则</h3>

                            <p>感恩、分享、奉献、博爱！</p>

                        </div>

                        <div class="hide">

                            <h3>基本原则</h3>

                            <p>合法、正面、合作共赢，担当有为！</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="layer-honor layer">

        <div class="public-container">

            <div class="title">

                <h1 class="col-e2c784">社会荣誉</h1>

                <p>“ 短短三年时间，云联惠以共赢模式备受社会各方关注和好评 ”</p>

            </div>

        </div>

        <div class="banner">

            <div class="swiper-container gallery-thumbs swiper-container-horizontal banner-top-box">

                <div class="swiper-wrapper banner-top">

                    <div class="swiper-slide"></div>

                    <div class="swiper-slide"></div>

                    <div class="swiper-slide"></div>

                    <div class="swiper-slide"></div>

                    <div class="swiper-slide"></div>

                    <div class="swiper-slide"></div>

                    <div class="swiper-slide"></div>

                    <div class="swiper-slide"></div>

                </div>

                <!-- Add Arrows -->



            </div>

            <div class="swiper-container gallery-top swiper-container-horizontal banner-bottom-box">

                <div class="swiper-wrapper banner-bottom">

                    <div class="swiper-slide"><div class="text">2015年中国消费者满意度调查金鼎奖杯</div></div>

                    <div class="swiper-slide"><div class="text">2015年中国消费者满意度调查金鼎奖状</div></div>

                    <div class="swiper-slide"><div class="text">爱心赠礼</div></div>

                    <div class="swiper-slide"><div class="text">黄明：中国改革创新风云人物</div></div>

                    <div class="swiper-slide"><div class="text">黄明:中国科技创新型企业领军人物</div></div>

                    <div class="swiper-slide"><div class="text">中国百名改革创新风云人物</div></div>

                    <div class="swiper-slide"><div class="text">中国禁毒基金会理事</div></div>

                    <div class="swiper-slide"><div class="text">中国科技创新型企业</div></div>

                </div>

                <div class="swiper-button-prev"></div>

                <div class="swiper-button-next"></div>

            </div>



        </div>

    </div>

    <div class="footer">

        <div class="public-container">

            <div class="footer-l fl clearfix">

                <div class="phone"><a href="#"><img src="<{$res}>/about/images/400-8601-999.png" alt=""></a></div>

                <p class="col-565555">公司地址： 广州市海珠区宸悦路32号叁悦广场A塔</p>

            </div>

            <div class="footer-r fr clearfix">

                <div class="social clearfix">

                    <a href="mailto:ylhkf@yunlianhui.com" class="mailhover"> </a>

                    <a href="javascript:;" class="qqhover"></a>

                </div>

                <p class="col-565555">Copyright © 2017 广东云联惠网络科技有限公司 All Rights Reserved   粤ICP备14014641号</p>

            </div>

        </div>

    </div>

</div>

<div class="mast">

    <div class='banner_wrap aa'>

        <div class="banner1">

            <ul class="imgbox clearfix">

                <li><img src="<{$res}>/about/images/patent1.jpg" alt=""></li>

                <li><img src="<{$res}>/about/images/patent2.jpg" alt=""></li>

                <li><img src="<{$res}>/about/images/patent3.jpg" alt=""></li>

                <li><img src="<{$res}>/about/images/patent4.jpg" alt=""></li>

                <li><img src="<{$res}>/about/images/patent5.jpg" alt=""></li>

                <li><img src="<{$res}>/about/images/patent6.jpg" alt=""></li>

                <li><img src="<{$res}>/about/images/patent7.jpg" alt=""></li>

                <li><img src="<{$res}>/about/images/patent8.jpg" alt=""></li>

            </ul>

        </div>

        <div class="btn aa clearfix">

            <a href="javascript:;" class="btn-l fl"></a>

            <a href="javascript:;" class="btn-r fr"></a>

        </div>

    </div>



</div>

<script>

    var img = ['<{$res}>/about/images/1.jpg', '<{$res}>/about/images/4.jpg', '<{$res}>/about/images/5.jpg', '<{$res}>/about/images/6.jpg', '<{$res}>/about/images/5.jpg', '<{$res}>/about/images/6.jpg', '<{$res}>/about/images/5.jpg', '<{$res}>/about/images/5.jpg']; //图片数组



    function setBg(obj) {

        var slide = $(obj);

        for (var i = 0; i < slide.length; i++) {

            (function(j) {

                slide[j].style.background = 'url(' + img[j] + ') no-repeat center center';
                slide[j].style.backgroundSize = '100%';

                //slide[j].style.marginRight='50px'

            })(i)

        }

    }

    setBg($('.banner-top>div'));

    setBg($('.banner-bottom>div'));



    var galleryTop = new Swiper('.gallery-top', {

        spaceBetween: 175,

        speed: 500,

        loop: true,

        loopedSlides: 8

    });



    var galleryThumbs = new Swiper('.gallery-thumbs', {

        spaceBetween: 150,

        centeredSlides: true,

        slidesPerView: 'auto',

        touchRatio: 0.2,

        slideToClickedSlide: true,

        autoplay: 2000,

        //可选选项，自动滑动,

        nextButton: '.swiper-button-next',

        prevButton: '.swiper-button-prev',

        loop: true,

        loopedSlides: 8

        //initialSlide :0

    });

    galleryTop.params.control = galleryThumbs;

    galleryThumbs.params.control = galleryTop; /*锚点定位*/

    $('.nav li').each(function() {

        $(this).click(function() {

            var index = $(this).index();

            var offsetTop = $('div.layer').eq(index).offset().top;

            offsetTop = offsetTop + parseInt(-60);

            $('body,html').animate({

                scrollTop: offsetTop

            })

        })

    });



    /*系统专利图切换*/

    $(function() {

        var imgbox = $('.imgbox');

        //克隆第一张图片放在ul盒子的最后；

        var cloneLi = $(".imgbox>li:first-child").clone();

        imgbox.append(cloneLi);

        var lis = imgbox.children();

        var imgWidth = $('.imgbox img').width();

        var index = 0;

        var flag = true;

        $('.patents li').each(function(i, obj) {

            obj.index = i;

            $(this).click(function() {

                index = this.index;

                imgbox.css('left', -(index * imgWidth));

                $('.mast').css('display', 'block');

            })

        });

        //实现左右切换

        //上一张

        $('.btn-l').on('click', function() {

            if (flag) {

                index--;

                flag = false;

                //图片轮播

                if (index < 0) {

                    imgbox.css({

                        'left': -imgWidth * (lis.length - 1) + 'px'

                    });

                    index = 7;

                }

                imgbox.animate({

                    'left': -imgWidth * index - 1 + 'px'

                }, function() {

                    flag = true;

                })

            }

        });

        //下一张

        $('.btn-r').on('click', function() {

            if (flag) {

                flag = false;

                autoplay();

            }

        });



        function autoplay() {

            //图片自动轮播

            index++;

            if (index > lis.length - 1) {

                index = 1;

                imgbox.css("left", 0);

            }

            imgbox.animate({

                'left': -(imgWidth * index)

            }, function() {

                flag = true;

            })



        }

    })



    $('.mast').bind("click", function(e) {

        var target = $(e.target);

        if (target.closest(".aa").length == 0) {

            $(".mast").hide();

        }

    })

</script>

</body>

</html>