<!--头部-->
<{include "public/header.html"}>

    <div class="main_content">
        <!--顶部-->
        <div class="top">
            <div class="top_main">
                <!--顶部列表区-->
                <div class="top_list">
                    <ul class="nav_2">
                        <li>
                            <a class="nav_active" href="#">精彩首页</a>
                        </li>
                        <li>
                            <a href="#">搞笑短片</a>
                        </li>
                        <li>
                            <a href="#">网络短剧</a>
                        </li>
                        <li>
                            <a href="#">励志剧场</a>
                        </li>
                        <li>
                            <a href="#">爆笑节目</a>
                        </li>
                        <li>
                            <a href="#">搞笑萌宠</a>
                        </li>
                        <li>
                            <a href="#">鬼畜视频</a>
                        </li>
                        <li>
                            <a href="#">恶搞整蛊</a>
                        </li>
                        <li>
                            <a href="#">雷人囧事</a>
                        </li>
                    </ul>
                </div>
                <!--顶部内容区-->
                <div class="top_content">
                    <!--顶部左侧区-->
                    <div class="top_content_left display_inline">
                        <a href="">
                            <img src="<{$res}>/images/top_1.jpg" />
                        </a>
                    </div>
                    <!--顶部中间区-->
                    <div class="top_content_middle display_inline">
                        <div class="top_content_middle_top">
                            <a href="">
                                <img src="<{$res}>/images/top_2.jpg" />
                            </a>
                        </div>
                        <div class="top_content_middle_under">
                            <div class="top_content_middle_under_left display_inline">
                                <a href="">
                                    <img src="<{$res}>/images/top_3.jpg" />
                                </a>
                            </div>
                            <div class="top_content_middle_under_right display_inline float_right">
                                <a href="">
                                    <img src="<{$res}>/images/top_4.jpg" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--顶部右侧区-->
                    <div class="top_content_right display_inline">
                        <div class="top_content_right_top">
                            <div class="top_content_right_top_left display_inline">
                                <a href="">
                                    <img src="<{$res}>/images/top_5.jpg" />
                                </a>
                            </div>
                            <div class="top_content_right_top_right display_inline float_right">
                                <a href="">
                                    <img src="<{$res}>/images/top_6.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="top_content_right_under">
                            <div class="top_content_right_under_left display_inline">
                                <a href="">
                                    <img src="<{$res}>/images/top_7.jpg" />
                                </a>
                            </div>
                            <div class="top_content_right_under_right display_inline float_right">
                                <a href="">
                                    <img src="<{$res}>/images/top_8.jpg" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--推荐区-->
        <div class="recommend">
            <!--推荐标题区-->
            <div class="recommend_title">
                <ul class="recommend_li">
                    <li>
                        <h2>为你推荐</h2>
                    </li>
                    <li>
                        <a href="#">播放记录</a>
                    </li>
                    <li>
                        <h4>/</h4>
                    </li>
                    <li>
                        <a href="#">我的收藏</a>
                    </li>
                    <li>
                        <h4>/</h4>
                    </li>
                    <li>
                        <a href="#">我的投稿</a>
                    </li>
                </ul>
                <div class="recommend_slist">
                </div>
            </div>
            <div class="line"></div>
            <div class="recommend_main">
                <!--推荐左侧区-->
                <div class="recommend_left display_inline">
                    <div class="recommend_lunbo">
                        <div>
                            <img src="<{$res}>/images/re_1.jpg" href="#">
                            <p>马云励志演讲，80后别再抱怨了，我曾经应聘三十家...</p>
                            <div class="reline"></div>
                            <img src="<{$res}>/images/icon_user.jpg">
                            <span class="user_title">励志演讲</span>
                            <span class="time">
                                <img src="<{$res}>/images/icon_time.jpg">
                                <span class="user_time">12-18</span>
                            </span>

                        </div>
                        <div>
                            <img src="<{$res}>/images/re_2.jpg" href="#">
                            <p>猫狗萌宠的那些奇葩行为，猫狗萌宠的那些奇葩行为</p>
                            <div class="reline"></div>
                            <img src="<{$res}>/images/icon_user.jpg">
                            <span class="user_title">萌宠联盟</span>
                            <span class="time">
                                <img src="<{$res}>/images/icon_time.jpg">
                                <span class="user_time">12-20</span>
                            </span>
                        </div>
                        <div>
                            <img src="<{$res}>/images/re_3.jpg" href="#">
                            <p>神鬼畜，《终级一班4》花式江南皮革厂来袭</p>
                            <div class="reline"></div>
                            <img src="<{$res}>/images/icon_user.jpg">
                            <span class="user_title">阿康鬼畜</span>
                            <span class="time">
                                <img src="<{$res}>/images/icon_time.jpg">
                                <span class="user_time">12-12</span>
                            </span>
                        </div>
                        <div>
                            <img src="<{$res}>/images/re_4.jpg" href="#">
                            <p>他是伍佰的偶像，吴宗宪崇拜的歌手，王杰吴...</p>
                            <div class="reline"></div>
                            <img src="<{$res}>/images/icon_user.jpg">
                            <span class="user_title">快乐大本营</span>
                            <span class="time">
                                <img src="<{$res}>/images/icon_time.jpg">
                                <span class="user_time">12-17</span>
                            </span>
                        </div>
                    </div>
                </div>
                <!--推荐右侧区-->
                <div class="recommend_right display_inline">
                    <div class="recommend_right_title">
                        <img src="<{$res}>/images/re_r_title.jpg">
                    </div>
                    <div class="recommend_right_content">
                        <div class="recommend_right_content_icon">
                            <img src="<{$res}>/images/re_r_icon_1.jpg">
                            <p class="user_title">飞碟说</p>
                        </div>
                        <div class="recommend_right_content_icon">
                            <img src="<{$res}>/images/re_r_icon_2.jpg">
                            <p class="user_title">小题影视</p>
                        </div>
                        <div class="recommend_right_content_icon">
                            <img src="<{$res}>/images/re_r_icon_3.jpg">
                            <p class="user_title">基腐社</p>
                        </div>
                        <div class="recommend_right_content_icon">
                            <img src="<{$res}>/images/re_r_icon_4.jpg">
                            <p class="user_title">郑云工作室</p>
                        </div>

                        <div class="recommend_right_content_icon">
                            <img src="<{$res}>/images/re_r_icon_5.jpg">
                            <p class="user_title">馆长娱乐</p>
                        </div>
                        <div class="recommend_right_content_icon">
                            <img src="<{$res}>/images/re_r_icon_6.jpg">
                            <p class="user_title">陈翔六点半</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--搞笑区-->
        <div class="funny ">
            <!--搞笑标题区-->
            <div class="funny_title">
                <ul class="">
                    <li>
                        <h2>搞笑短片</h2>
                    </li>
                    <li>
                        <a class="funny_more" href="#">更多视频  ▶</a>
                    </li>
                </ul>
            </div>
            <div class="line"></div>
            <div class="funny_main">
                <!--搞笑左侧区-->
                <div class="funny_left display_inline">
                    <!--搞笑导航区-->
                    <div class="funny_left_nav">
                        <ul class="nav_2">
                            <li>
                                <a href="#">短剧</a>
                            </li>
                            <li>
                                <a href="#">节目</a>
                            </li>
                            <li>
                                <a href="#">雷人</a>
                            </li>
                            <li>
                                <a href="#">恶搞</a>
                            </li>
                            <li>
                                <a href="#">萌宠</a>
                            </li>
                            <li>
                                <a class="nav_active" href="#">鬼畜</a>
                            </li>
                            <li>
                                <a href="#">相声</a>
                            </li>
                            <li>
                                <a href="#">街坊</a>
                            </li>
                        </ul>
                    </div>
                    <div class="funny_left_top">
                        <div>
                            <img src="<{$res}>/images/funny_1.jpg" href="#">
                            <p>鬼畜街舞《江南皮革厂》还我血汗钱哈哈哈！</p>
                        </div>
                        <div>
                            <img src="<{$res}>/images/funny_2.jpg" href="#">
                            <p>淮秀帮创意配音：群星鬼畜版《Duang》盘点羊年最热</p>
                        </div>
                        <div>
                            <img src="<{$res}>/images/funny_3.jpg" href="#">
                            <p>神鬼畜，《终级一班4》花式江南皮革厂来袭</p>
                        </div>
                        <div>
                            <img src="<{$res}>/images/funny_4.jpg" href="#">
                            <p>鬼畜丹东阿里郎特训混音变奏版</p>
                        </div>
                    </div>
                    <div class="funny_left_under">
                        <div>
                            <img src="<{$res}>/images/funny_4.jpg" href="#">
                            <p>鬼畜丹东阿里郎特训混音变奏版</p>
                        </div>
                        <div>
                            <img src="<{$res}>/images/funny_3.jpg" href="#">
                            <p>神鬼畜，《终级一班4》花式江南皮革厂来袭</p>
                        </div>
                        <div>
                            <img src="<{$res}>/images/funny_2.jpg" href="#">
                            <p>淮秀帮创意配音：群星鬼畜版《Duang》盘点羊年最热</p>
                        </div>
                        <div>
                            <img src="<{$res}>/images/funny_1.jpg" href="#">
                            <p>鬼畜街舞《江南皮革厂》还我血汗钱哈哈哈！</p>
                        </div>
                    </div>
                </div>
                <!--搞笑右侧区-->
                <div class="funny_right display_inline">
                    <div class="funny_right_title">
                        <img src="<{$res}>/images/funny_r_title.jpg">
                    </div>
                    <div class="funny_right_list">
                        <div class="">
                            <div class="funny_r_number_1 display_inline">
                                1
                            </div>
                            <span>《喜闻乐溅》2017十大舞王</span>
                        </div>
                        <div class="">
                            <div class="funny_r_number_1 display_inline">
                                2
                            </div>
                            <span>为啥宁做剩女也不便宜你？</span>
                        </div>
                        <div class="">
                            <div class="funny_r_number_1 display_inline">
                                3
                            </div>
                            <span>网吧吃鸡遇到对手本人，上演“现</span>
                        </div>
                        <div class="">
                            <div class="funny_r_number_2 display_inline">
                                4
                            </div>
                            <span>牛人用计算机演奏交响曲</span>
                        </div>
                        <div class="">
                            <div class="funny_r_number_2 display_inline">
                                5
                            </div>

                            <span>《喜闻乐溅》2017十大舞王</span>
                        </div>
                        <div class="">
                            <div class="funny_r_number_3 display_inline">
                                6
                            </div>
                            <span>为啥宁做剩女也不便宜你？</span>
                        </div>
                        <div class="">
                            <div class="funny_r_number_3 display_inline">
                                7
                            </div>
                            <span>网吧吃鸡遇到对手本人，上演“现</span>
                        </div>
                        <div class="">
                            <div class="funny_r_number_3 display_inline">
                                8
                            </div>
                            <span>牛人用计算机演奏交响曲</span>
                        </div>
                        <div class="">
                            <div class="funny_r_number_3 display_inline">
                                9
                            </div>
                            <span>《喜闻乐溅》2017十大舞王</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--励志区-->
        <div class="motivational">
            <!--励志标题区-->
            <div class="motivational_title">
                <ul class="">
                    <li>
                        <h2>励志剧场</h2>
                    </li>
                    <li>
                        <a class="motivational_more" href="#">更多视频  ▶</a>
                    </li>
                </ul>
            </div>
            <div class="line"></div>
            <div class="motivational_main">
                <!--励志左侧区-->
                <div class="motivational_left display_inline">
                    <!--励志导航区-->
                    <div class="motivational_left_nav">
                        <ul class="nav_2">
                            <li>
                                <a class="nav_active" href="#">电影</a>
                            </li>
                            <li>
                                <a href="#">演剧</a>
                            </li>
                            <li>
                                <a href="#">短剧</a>
                            </li>
                            <li>
                                <a href="#">节目</a>
                            </li>
                            <li>
                                <a href="#">新闻</a>
                            </li>
                            <li>
                                <a href="#">街拍</a>
                            </li>
                        </ul>
                    </div>
                    <div class="funny_left_top">
                        <div>
                            <img src="<{$res}>/images/mo_left_1.jpg" href="#">
                            <p>马云励志演讲，80后别再抱怨了，我曾经应聘三十家...</p>
                        </div>
                        <div>
                            <img src="<{$res}>/images/mo_left_2.jpg" href="#">
                            <p>超励志短片《觉醒》，没动力的时候就看看</p>
                        </div>
                        <div>
                            <img src="<{$res}>/images/mo_left_1.jpg" href="#">
                            <p>马云励志演讲，80后别再抱怨了，我曾经应聘三十家</p>
                        </div>
                        <div>
                            <img src="<{$res}>/images/mo_left_2.jpg" href="#">
                            <p>超励志短片《觉醒》，没动力的时候就看看</p>
                        </div>
                    </div>
                    <div class="funny_left_under">
                        <div>
                            <img src="<{$res}>/images/mo_left_3.jpg" href="#">
                            <p>当你沉溺于慵懒的生活的时候，看看这部励志短片</p>
                        </div>
                        <div>
                            <img src="<{$res}>/images/mo_left_4.jpg" href="#">
                            <p>你现在的态度决定十年后的你是人物还是废物，感人励志</p>
                        </div>
                        <div>
                            <img src="<{$res}>/images/mo_left_3.jpg" href="#">
                            <p>当你沉溺于慵懒的生活的时候，看看这部励志短片</p>
                        </div>
                        <div>
                            <img src="<{$res}>/images/mo_left_4.jpg" href="#">
                            <p>你现在的态度决定十年后的你是人物还是废物，感人励志</p>
                        </div>
                    </div>
                </div>
                <!--励志右侧区-->
                <div class="motivational_right display_inline">
                    <div class="motivational_right_title">
                        <img src="<{$res}>/images/mo_r_title.jpg">
                    </div>
                    <div class="motivational_right_list">
                        <div class="mo_r_title mo_r_title_active">欢乐精选</div>
                        <div class="mo_r_title">宅男宅女</div>
                        <div class="mo_r_title">雷人囧事</div>
                        <div class="mo_r_title">快乐大本营</div>
                        <div class="mo_r_title">康熙来了</div>
                        <div class="mo_r_title">最强大脑</div>
                        <div class="mo_r_title">萌宠</div>
                        <div class="mo_r_title">相声小品</div>
                        <div class="mo_r_title">欢乐精选</div>
                        <div class="mo_r_title">宅男宅女</div>
                        <div class="mo_r_title">雷人囧事</div>
                        <div class="mo_r_title">快乐大本营</div>
                        <div class="mo_r_title">康熙来了</div>
                        <div class="mo_r_title">最强大脑</div>
                        <div class="mo_r_title">萌宠</div>
                        <div class="mo_r_title">相声小品</div>
                        <div class="mo_r_title">欢乐精选</div>
                        <div class="mo_r_title">宅男宅女</div>
                        <div class="mo_r_title">雷人囧事</div>
                        <div class="mo_r_title">快乐大本营</div>
                        <div class="mo_r_title">康熙来了</div>
                        <div class="mo_r_title">最强大脑</div>
                        <div class="mo_r_title">萌宠</div>
                        <div class="mo_r_title">相声小品</div>
                    </div>
                </div>
            </div>
        </div>

        <!--宫格区-->
        <div class="many">
            <!--短剧区-->
            <div class="network">
                <div class="network_title">
                    <ul class="">
                        <li>
                            <h2>网络短剧</h2>
                        </li>
                        <li>
                            <a class="network_more" href="#">更多视频  ▶</a>
                        </li>
                    </ul>
                </div>
                <div class="sline"></div>
                <div class="network_content">
                    <div class="network_top">
                        <div class="pic_2">
                            <img src="<{$res}>/images/nw_1.jpg" href="#">
                            <p>史上第一混乱 网络剧 概念版宣传片</p>
                        </div>
                        <div class="pic_2">
                            <img src="<{$res}>/images/nw_2.jpg" href="#">
                            <p>网络剧 prince的王子03韩语中字</p>
                        </div>
                        <div class="pic_2 pic_2_end">
                            <img src="<{$res}>/images/nw_3.jpg" href="#">
                            <p>【烟袋网络剧】杭航和梁泽1-2CUT</p>
                        </div>
                    </div>
                    <div class="network_under">
                        <div class="pic_2">
                            <img src="<{$res}>/images/nw_3.jpg" href="#">
                            <p>【烟袋网络剧】杭航和梁泽1-2CUT</p>
                        </div>
                        <div class="pic_2">
                            <img src="<{$res}>/images/nw_2.jpg" href="#">
                            <p>网络剧 prince的王子03韩语中字</p>
                        </div>
                        <div class="pic_2 pic_2_end">
                            <img src="<{$res}>/images/nw_1.jpg" href="#">
                            <p>史上第一混乱 网络剧 概念版宣传片</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--爆笑区-->
            <div class="laugh">
                <div class="laugh_title">
                    <ul class="">
                        <li>
                            <h2>爆笑节目</h2>
                        </li>
                        <li>
                            <a class="laugh_more" href="#">更多视频  ▶</a>
                        </li>
                    </ul>
                </div>
                <div class="sline"></div>
                <div class="laugh_content">
                    <div class="laugh_top">
                        <div class="pic_2">
                            <img src="<{$res}>/images/lg_1.jpg" href="#">
                            <p>他是伍佰的偶像，吴宗宪崇拜的歌手，王杰吴...</p>
                        </div>
                        <div class="pic_2">
                            <img src="<{$res}>/images/lg_2.jpg" href="#">
                            <div class="pic_title"><p>夜总会 搞笑 罗凯夜总会 搞笑 罗凯</p></div>
                        </div>
                        <div class="pic_2 pic_2_end">
                            <img src="<{$res}>/images/lg_3.jpg" href="#">
                            <p>一言不合就唱歌-2017小米公司年会路由云</p>
                        </div>
                    </div>
                    <div class="laugh_under">
                        <div class="pic_2">
                            <img src="<{$res}>/images/lg_3.jpg" href="#">
                            <p>一言不合就唱歌-2017小米公司年会路由云</p>
                        </div>
                        <div class="pic_2">
                            <img src="<{$res}>/images/lg_2.jpg" href="#">
                            <div class="pic_title"><p>夜总会 搞笑 罗凯夜总会 搞笑 罗凯</p></div>
                        </div>
                        <div class="pic_2 pic_2_end">
                            <img src="<{$res}>/images/lg_1.jpg" href="#">
                            <p>他是伍佰的偶像，吴宗宪崇拜的歌手，王杰吴...</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--动物区-->
            <div class="animal">
                <div class="animal_title">
                    <ul class="">
                        <li>
                            <h2>搞笑萌宠</h2>
                        </li>
                        <li>
                            <a class="animal_more" href="#">更多视频  ▶</a>
                        </li>
                    </ul>
                </div>
                <div class="sline"></div>
                <div class="animal_content">
                    <div class="animal_top">
                        <div class="pic_2">
                            <img src="<{$res}>/images/an_1.jpg" href="#">
                            <p>一听说火腿肠有毒，萨摩耶立即让给猫咪吃...</p>
                        </div>
                        <div class="pic_2">
                            <img src="<{$res}>/images/an_2.jpg" href="#">
                            <p>不看绝对后悔 新萌宠吓尿搞笑合集</p>
                        </div>
                        <div class="pic_2 pic_2_end">
                            <img src="<{$res}>/images/an_3.jpg" href="#">
                            <div class="pic_title"><p>萌宠 水獭宝宝洗澡好萌萌宠 水獭宝宝洗澡好萌</p></div>
                        </div>
                    </div>
                    <div class="animal_under">
                        <div class="pic_2">
                            <img src="<{$res}>/images/an_3.jpg" href="#">
                            <div class="pic_title"><p>萌宠 水獭宝宝洗澡好萌萌宠 水獭宝宝洗澡好萌</p></div>
                        </div>
                        <div class="pic_2">
                            <img src="<{$res}>/images/an_2.jpg" href="#">
                            <p>不看绝对后悔 新萌宠吓尿搞笑合集</p>
                        </div>
                        <div class="pic_2 pic_2_end">
                            <img src="<{$res}>/images/an_1.jpg" href="#">
                            <p>一听说火腿肠有毒，萨摩耶立即让给猫咪吃...</p>
                        </div>
                    </div>

                </div>
            </div>
            <!--鬼畜区-->
            <div class="guichu">
                <div class="guichu_title">
                    <ul class="">
                        <li>
                            <h2>鬼畜视频</h2>
                        </li>
                        <li>
                            <a class="guichu_more" href="#">更多视频  ▶</a>
                        </li>
                    </ul>
                </div>
                <div class="sline"></div>
                <div class="guichu_content">
                    <div class="guichu_top">
                        <div class="pic_2">
                            <img src="<{$res}>/images/gui_1.jpg" href="#">
                            <p>鬼畜丹东阿里郎特训混音变奏版</p>
                        </div>
                        <div class="pic_2">
                            <img src="<{$res}>/images/gui_2.jpg" href="#">
                            <p>鬼畜街舞《江南皮革厂》还我血汗钱哈哈哈！</p>
                        </div>
                        <div class="pic_2 pic_2_end">
                            <img src="<{$res}>/images/gui_3.jpg" href="#">
                            <p>淮秀帮创意配音：群星鬼畜版《Duang》盘点...</p>
                        </div>
                    </div>
                    <div class="guichu_under">
                        <div class="pic_2">
                            <img src="<{$res}>/images/gui_3.jpg" href="#">
                            <p>淮秀帮创意配音：群星鬼畜版《Duang》盘点...</p>
                        </div>
                        <div class="pic_2">
                            <img src="<{$res}>/images/gui_2.jpg" href="#">
                            <p>鬼畜街舞《江南皮革厂》还我血汗钱哈哈哈！</p>
                        </div>
                        <div class="pic_2 pic_2_end">
                            <img src="<{$res}>/images/gui_1.jpg" href="#">
                            <p>鬼畜丹东阿里郎特训混音变奏版</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--恶搞区-->
            <div class="prank">
                <div class="prank_title">
                    <ul class="">
                        <li>
                            <h2>恶搞整蛊</h2>
                        </li>
                        <li>
                            <a class="prank_more" href="#">更多视频  ▶</a>
                        </li>
                    </ul>
                </div>
                <div class="sline"></div>
                <div class="prank_content">
                    <div class="prank_top">
                        <div class="pic_2">
                            <img src="<{$res}>/images/pr_1.jpg" href="#">
                            <p>街头恶搞：假装黑社会开枪杀人，整蛊路人</p>
                        </div>
                        <div class="pic_2">
                            <img src="<{$res}>/images/pr_2.jpg" href="#">
                            <p>史上最欠揍的人恶搞路人，恶搞升级，看一次</p>
                        </div>
                        <div class="pic_2 pic_2_end">
                            <img src="<{$res}>/images/pr_3.jpg" href="#">
                            <p>最恨恶搞媳妇，差点被干死，17岁以下不许...</p>
                        </div>
                    </div>
                    <div class="prank_under">
                        <div class="pic_2">
                            <img src="<{$res}>/images/pr_3.jpg" href="#">
                            <p>最恨恶搞媳妇，差点被干死，17岁以下不许...</p>
                        </div>
                        <div class="pic_2">
                            <img src="<{$res}>/images/pr_2.jpg" href="#">
                            <p>史上最欠揍的人恶搞路人，恶搞升级，看一次</p>
                        </div>
                        <div class="pic_2 pic_2_end">
                            <img src="<{$res}>/images/pr_1.jpg" href="#">
                            <p>街头恶搞：假装黑社会开枪杀人，整蛊路人</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--囧事区-->
            <div class="jiong">
                <div class="jiong_title">
                    <ul class="">
                        <li>
                            <h2>恶搞整蛊</h2>
                        </li>
                        <li>
                            <a class="jiong_more" href="#">更多视频  ▶</a>
                        </li>
                    </ul>
                </div>
                <div class="sline"></div>
                <div class="jiong_content">
                    <div class="prank_top">
                        <div class="pic_2">
                            <img src="<{$res}>/images/jiong_1.jpg" href="#">
                            <div class="pic_title"><p>这些女士竟然被当街摸胸这些女士竟然被当街摸胸</p></div>
                        </div>
                        <div class="pic_2">
                            <img src="<{$res}>/images/jiong_2.jpg" href="#">
                            <p>土豪街头搭讪美女索吻：有钱真的可以为所欲...</p>
                        </div>
                        <div class="pic_2 pic_2_end">
                            <img src="<{$res}>/images/jiong_3.jpg" href="#">
                            <p>路边遛狗竟遇到如此尴尬的局面</p>
                        </div>
                    </div>
                    <div class="prank_under">
                        <div class="pic_2">
                            <img src="<{$res}>/images/jiong_3.jpg" href="#">
                            <p>路边遛狗竟遇到如此尴尬的局面</p>
                        </div>
                        <div class="pic_2">
                            <img src="<{$res}>/images/jiong_2.jpg" href="#">
                            <p>土豪街头搭讪美女索吻：有钱真的可以为所欲...</p>
                        </div>
                        <div class="pic_2 pic_2_end">
                            <img src="<{$res}>/images/jiong_1.jpg" href="#">
                            <div class="pic_title"><p>这些女士竟然被当街摸胸这些女士竟然被当街摸胸</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!--尾部-->
        <{include "public/footer.html"}>