<footer id="footer">
    <div class="foot_box">
        <div class="foot_area">
            版权所有 @ 2018 - 2020 粤ICP8888888
            <br />
             E-MAIL：<{$data_site.company_email}>
            <br />
            电话：<{$data_site.company_tel}> 传真：<{$data_site.company_fax}>
            <br />
            公司地址:<{$data_site.address}>
        </div>
        <div class="foot_area2">
            <img src="<{$res}>/img/20160224080018_52025.jpg" alt=""
                    />
          <span class="txt">
            官方微信
          </span>
        </div>
    </div>
</footer>
<div class="floatright">
    <a href="#header" id="dftop">
        <img src="<{$res}>/img/jt.png">
    </a>
    <a title="在线客服" href="http://wpa.qq.com/msgrd?V=1&uin=607919&Site=大连机床、大连机床厂、大连机床集团、大连机床集团有限责任公司&Menu=yes">
        <img src="<{$res}>/img/qq.png">
    </a>
    <a class="wwxx">
        <img src="<{$res}>/img/wx.png">
    </a>
    <div class="floatwx">
        <img src="<{$res}>/img/20160224080018_52025.jpg" alt="" />
        <br />
    </div>
    <a class="ttel" title="客服热线">
        <img src="<{$res}>/img/telr.png">
    </a>
    <div class="floattel">
        400-600-1239
    </div>
    <div class="floatred">
    </div>
</div>
<!--<script>
    var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?8ba1608c7532722adab8f82f29298009";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<script src="<{$res}>/js/mine.js">
</script>
</body>

</html>