
	<{include "public/header.html"}>
				
			<div class="layer_right">
				<div class="layer_right_centan">
					精益管理期刊_精益管理大师_3A精益管理顾问
				</div>
				<!--循环数据-->
				<div class="layer_right_centan_nei">
					<div class="layer_right_centan_nei_left">
						<div class="nei_left_periods">
							第008期
						</div>
						
						<div class="nei_left_titile">
							<img src="<{$res}>images/top.jpg">
							<strong>[原创]<a href="#">开创精益管理中国学派</a></strong>
						</div>
						
						<div id="">
							伴随着中国制造的发展壮大，笔者所带领的团队帮助千余家企业成功导入了精益管理，不仅极大地提升了这些企业的竞争力水平，而且还架构了中国人自己的精益管理体系。这套体系不仅具有经营思维
						</div>
						
					</div>
					
					<div class="layer_right_centan_nei_right">
						<ul>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
						</ul>
					</div>
				</div>
				<!--循环数据-->
				<div class="layer_right_centan_nei">
					<div class="layer_right_centan_nei_left">
						<div class="nei_left_periods">
							第009期
						</div>
						<div class="nei_left_titile">
							<img src="<{$res}>images/top.jpg">
							<strong>[原创]<a href="#">开创精益管理中国学派</a></strong>
						</div>
						<div id="">
							伴随着中国制造的发展壮大，笔者所带领的团队帮助千余家企业成功导入了精益管理，不仅极大地提升了这些企业的竞争力水平，而且还架构了中国人自己的精益管理体系。这套体系不仅具有经营思维上……
						</div>
					</div>
					
					<div class="layer_right_centan_nei_right">
						<ul>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
							<li><a href="#">精益应该是“高大上”的管理吗？</a></li>
						</ul>
					</div>
				</div>
				
			</div>
			
			
	<!--尾部-->
		<{include "public/footer.html"}>
	<!--尾部 end-->

