<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      大连机床、大连机床厂、大连机床集团、大连机床集团有限责任公司
    </title>
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js">
      </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../../../../../../../../work/大连机床/大连机床/css/style.css">
    <script src="../../../../../../../../work/大连机床/大连机床/js/h5.js" type="text/javascript">
    </script>
    <script src="../../../../../../../../work/大连机床/大连机床/js/jquery.js" type="text/javascript">
    </script>
    <script type="text/javascript" src="../../../../../../../../work/大连机床/大连机床/js/jquery-ui.js">
    </script>
    <script type="text/javascript" src="../../../../../../../../work/大连机床/大连机床/js/fwslider.js">
    </script>
  </head>
  <body>
    <header id="header">
      <div class="head_box">
        <div class="logo">
          <a href="index.php">
            <img src="../../../../../../../../work/大连机床/大连机床/img/20160223165835_61470.png">
          </a>
        </div>
        <div class="head_right clearfix">
          <a href="javascript:24" class="btn">
            优惠活动
          </a>
          <img src="../../../../../../../../work/大连机床/大连机床/img/tel.png">
          TEL:400-600-1239
        </div>
      </div>
    </header>
    <nav id="nav">
      <ul>
      <li>
        <a href="index.html" target="">
          首页
        </a>
      </li>
      <li>
        <a href="product.html" target="">
          产品中心
        </a>
      </li>
      <li class="on">
        <a href="about.html" target="">
          关于我们
        </a>
      </li>
      <li>
        <a href="news.html" target="">
          新闻动态
        </a>
      </li>
     <!--  <li>
        <a href="javascrpt:" target="">
          营销网络
        </a>
      </li>
      <li>
        <a href="javascrpt:" target="">
          技术支持
        </a>
      </li>
      <li>
        <a href="javascrpt:" target="">
          联系我们
        </a>
      </li> -->

      <!-- <li class="on"><a href="index.htm"> 网站首页</a></li>
      <li><a href="products_list.htm"> 产品中心</a></li>
      <li><a href="about.htm"> 关于我们</a></li>
      <li><a href="news_list.htm"> 新闻动态</a></li>
      <li><a href="network.htm"> 营销网络</a></li>
      <li><a href="support.htm"> 技术支持</a></li>
      <li><a href="contact.htm"> 联系我们</a></li>-->
      <li class="last">
        <a href="javascrpt:">
          ENGLISH
        </a>
      </li>
    </ul>
    </nav>
    <div id="nbanner">
      <img src="../../../../../../../../work/大连机床/大连机床/img/20160225114612_21412.jpg">
    </div>
    <div class="max">
      <div id="content" class="clearfix">
        <div id="side">
          <div class="s_title1">
            关于我们
          </div>
          <ul class="s_link1">
            <li>
              <a href="javascript:">
                关于我们
              </a>
            </li>
            <li>
              <a href="javascript:">
                生产力量
              </a>
            </li>
            <li>
              <a href="javascript:">
                荣誉资质
              </a>
            </li>
            <li>
              <a href="javascript:">
                优惠风暴1
              </a>
            </li>
            <li>
              <a href="javascript:">
                优惠风暴2
              </a>
            </li>
            <li>
              <a href="javascript:">
                ABOUT US
              </a>
            </li>
          </ul>
          <div class="s_title2">
            400-600-1239
          </div>
        </div>
        <div id="main">
          <div class="title clearfix">
            <div class="man">
              <div class="three">
              </div>
              <img src="../../../../../../../../work/大连机床/大连机床/img/man.png">
            </div>
            <div class="location">
              当前位置：首页 / 关于我们
            </div>
            <div class="titlecon">
              <div class="titleCH">
                <h3>
                  关于我们
                </h3>
                <span class="titleEn">
                  ABOUT US
                </span>
              </div>
              <div class="intro">
                大连机床拥有丰富的各类机床资源，普通车床、数控车床、加工中心、柔性加工自动生产及itech等系列产品。
              </div>
            </div>
          </div>
          <div class="detail">
            <div class="detailtitle clearfix">
              <!-- <h2>COMPANY PROFILE</h2>-->
              <div class="detailEn">
                关于我们
              </div>
            </div>
            <div class="detailcon">
              <p>
                　　大连通达机床有限公司是大连机床集团的大型网点销售公司.产品有：普通车床，数控车床，数控铣床，加工中心，龙门加工中心，车削中心及原厂机床配件。机床附件有卡盘，中心架，跟刀架，液压件，刀具刃量具等机械产品.并承揽机床大中修及技术改造，国内，外带图加工业务及技术咨询。
                <br />
                　　公司自成立以来，连续多年荣获大连机床集团授予的“销售最佳代理”称号，年销售量连年名列前茅，产品销售已覆盖全国各个省市自治区。用户购货手续便捷发货及时，售后质量问题承诺24小时答复，48小时到位。代理瓦房店永川机床附件有限公司
                “方圆”牌卡盘在全国代理商销售量排在首列。卡盘库存规格齐全，可配套全国各大机床厂生产的设备上使用。配件，附件库存实力雄厚，为用户提供第一时间发货的快捷服务。
                <br />
                <p>
                  　　我们的服务宗旨是：“你的满意是通达人永远的追求”。我们始终以用户需求为目标。以开发市场为己任。完善的销售体系，一流的售后服务，让我们结识了更多的业内朋友，打造了坚实的通达品牌。现代的营销服务一体化模式，是我们开拓市场的基石。今天的合作是明天发展的开始，通达愿与您加强合作，共创美好未来！
                </p>
                <p align="center">
                  <img src="../../../../../../../../work/大连机床/大连机床/img/20160226060810_14367.jpg" alt=""
                  />
                </p>
                <p align="center">
                  <span style="color:#000000;font-family:微软雅黑;font-size:16px;line-height:32px;">
                    全国销售热线：400-600-1239
                  </span>
                </p>
                <p align="center">
                  <span style="font-family:微软雅黑;font-size:16px;line-height:32px;color:#333333;">
                    <span style="color:#000000;">
                      VIP热线：13904115519&nbsp; 联系人：董经理
                    </span>
                    <span style="color:#FF3300;">
                      <br />
                      <span style="color:#000000;">
                        大连通达机床有限公司
                      </span>
                    </span>
                  </span>
                </p>
                <p align="center">
                  <span style="font-family:微软雅黑;font-size:16px;line-height:32px;color:#333333;">
                    <span style="color:#FF3300;">
                      <span style="color:#000000;">
                        地址:辽宁省大连市西岗区香海花园7-3号
                      </span>
                    </span>
                    <br />
                    电话（销售部）：0411-84448808&nbsp; 0411-84448818
                  </span>
                  <br />
                  <span style="font-family:微软雅黑;font-size:16px;line-height:32px;color:#333333;">
                    传真（销售部）：0411-84448828
                  </span>
                  <br />
                  <span style="font-family:微软雅黑;font-size:16px;line-height:32px;color:#333333;">
                    售后服务：0411-84444380
                  </span>
                  <br />
                  <span style="font-family:微软雅黑;font-size:16px;line-height:32px;color:#333333;">
                    销售QQ：607919&nbsp;&nbsp;
                  </span>
                  <br />
                  <span style="font-family:微软雅黑;font-size:16px;line-height:32px;color:#333333;">
                    销售部E-mail:13904115519@139.com
                  </span>
                </p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="foot_box">
        <div class="foot_area">
          版权所有 @ 2006 - 2011 辽ICP备14011030号
          <br />
          本站永久网址：http://www.dlmtg.cn E-MAIL：607919@QQ.com
          <br />
          电话：0411-84448808 84448818 VIP专线：400-600-1239 24H支援：139-0411-5519
          <br />
          公司地址:辽宁省大连市西岗区香海花园7-3号 邮政编码:116021
        </div>
        <div class="foot_area2">
          <img src="../../../../../../../../work/大连机床/大连机床/img/20160224080018_52025.jpg" alt=""
          />
          <span class="txt">
            官方微信
          </span>
        </div>
      </div>
    </footer>
    <div class="floatright">
      <a href="#header" id="dftop">
        <img src="../../../../../../../../work/大连机床/大连机床/img/jt.png">
      </a>
      <a title="在线客服" href="http://wpa.qq.com/msgrd?V=1&uin=607919&Site=大连机床、大连机床厂、大连机床集团、大连机床集团有限责任公司&Menu=yes">
        <img src="../../../../../../../../work/大连机床/大连机床/img/qq.png">
      </a>
      <a class="wwxx">
        <img src="../../../../../../../../work/大连机床/大连机床/img/wx.png">
      </a>
      <div class="floatwx">
        <img src="../../../../../../../../work/大连机床/大连机床/img/20160224080018_52025.jpg" alt="" />
        <br />
      </div>
      <a class="ttel" title="客服热线">
        <img src="../../../../../../../../work/大连机床/大连机床/img/telr.png">
      </a>
      <div class="floattel">
        400-600-1239
      </div>
      <div class="floatred">
      </div>
    </div>
    <script>
      var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?8ba1608c7532722adab8f82f29298009";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <script src="../../../../../../../../work/大连机床/大连机床/js/mine.js">
    </script>
  </body>

</html>