<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      新闻动态-大连机床
    </title>
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js">
      </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../../../../../../../../work/大连机床/大连机床/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../../../../../../../work/大连机床/大连机床/css/df.css">
    <script src="../../../../../../../../work/大连机床/大连机床/js/h5.js" type="text/javascript">
    </script>
    <script src="../../../../../../../../work/大连机床/大连机床/js/jquery.js" type="text/javascript">
    </script>
    <script type="text/javascript" src="../../../../../../../../work/大连机床/大连机床/js/jquery-ui.js">
    </script>
    <script type="text/javascript" src="../../../../../../../../work/大连机床/大连机床/js/fwslider.js">
    </script>
  </head>
  <body>
    <header id="header">
      <div class="head_box">
        <div class="logo">
          <a href="index.php">
            <img src="../../../../../../../../work/大连机床/大连机床/img/20160223165835_61470.png">
          </a>
        </div>
        <div class="head_right clearfix">
          <a href="javascript:" class="btn">
            优惠活动
          </a>
          <img src="../../../../../../../../work/大连机床/大连机床/img/tel.png">
          TEL:400-600-1239
        </div>
      </div>
    </header>
    <nav id="nav">
      <ul>
      <li>
        <a href="index.html" target="">
          首页
        </a>
      </li>
      <li>
        <a href="product.html" target="">
          产品中心
        </a>
      </li>
      <li>
        <a href="about.html" target="">
          关于我们
        </a>
      </li>
      <li class="on">
        <a href="news.html" target="">
          新闻动态
        </a>
      </li>
     <!--  <li>
        <a href="javascrpt:" target="">
          营销网络
        </a>
      </li>
      <li>
        <a href="javascrpt:" target="">
          技术支持
        </a>
      </li>
      <li>
        <a href="javascrpt:" target="">
          联系我们
        </a>
      </li> -->

      <!-- <li class="on"><a href="index.htm"> 网站首页</a></li>
      <li><a href="products_list.htm"> 产品中心</a></li>
      <li><a href="about.htm"> 关于我们</a></li>
      <li><a href="news_list.htm"> 新闻动态</a></li>
      <li><a href="network.htm"> 营销网络</a></li>
      <li><a href="support.htm"> 技术支持</a></li>
      <li><a href="contact.htm"> 联系我们</a></li>-->
      <li class="last">
        <a href="javascrpt:">
          ENGLISH
        </a>
      </li>
    </ul>
    </nav>
    <div id="nbanner">
      <img src="../../../../../../../../work/大连机床/大连机床/img/20160225114612_21412.jpg">
    </div>
    <div class="max">
      <div id="content" class="clearfix">
        <div id="side">
          <div class="s_title1">
            新闻动态
          </div>
          <ul class="s_link1">
            <li>
              <a href="javascript:">
                行业新闻
              </a>
            </li>
            <li>
              <a href="javascript:">
                企业新闻
              </a>
            </li>
            <li>
              <a href="javascript:">
                展会新闻
              </a>
            </li>
          </ul>
          <div class="s_title2">
            400-600-1239
          </div>
        </div>
        <div id="main">
          <div class="title clearfix">
            <div class="man">
              <div class="three">
              </div>
              <img src="../../../../../../../../work/大连机床/大连机床/img/man.png">
            </div>
            <div class="location">
              当前位置：首页 / 新闻动态
            </div>
            <div class="titlecon">
              <div class="titleCH">
                <h3>
                  新闻动态
                </h3>
                <span class="titleEn">
                  News & Trends
                </span>
              </div>
              <div class="intro">
                大连机床拥有丰富的各类机床资源，普通车床、数控车床、加工中心、柔性加工自动生产及itech等系列产品
              </div>
            </div>
          </div>
          <div class="detail">
            <div class="detailtitle clearfix">
              <h2>
                COMPANY PROFILE
              </h2>
              <div class="detailEn2">
                "全国机床行业十八罗汉之一"
              </div>
            </div>
            <div class="detailcon">
              <ul class="newslist">
                <li class="clearfix">
                  <div class="newpic">
                    <a href="javascript:">
                      <img src="../../../../../../../../work/大连机床/大连机床/img/20160531112829_19786.jpg">
                    </a>
                  </div>
                  <div class="txt">
                    <div class="date">
                      16-05-31
                    </div>
                    <div class="newstitle">
                      <h5>
                        中国机床行业的十八罗汉之一
                      </h5>
                    </div>
                    <div class="newscontent">
                      &nbsp; &nbsp; 大连机床，大连机床厂，大连机床集团曾是共和国建国初期全国机床行业十八罗汉之一。大连机床集团有限责任公司始建于1948年，以几十...
                    </div>
                    <span class="more">
                      <a href="javascript:">
                        MORE
                      </a>
                    </span>
                  </div>
                </li>
              </ul>
              <ul class="newslist">
                <li class="clearfix">
                  <div class="newpic">
                    <a href="javascript:">
                      <img src="../../../../../../../../work/大连机床/大连机床/img/20160527101549_80502.jpg">
                    </a>
                  </div>
                  <div class="txt">
                    <div class="date">
                      16-05-27
                    </div>
                    <div class="newstitle">
                      <h5>
                        大连机床-深耕“一带一路”
                      </h5>
                    </div>
                    <div class="newscontent">
                      国内机床龙头企业大连机床集团深耕＂一带一路＂沿线市场，加大适销对路产品开发，加快产品服务基地走出去步伐，逐渐在竞争激烈的机床市场上积...
                    </div>
                    <span class="more">
                      <a href="javascript:">
                        MORE
                      </a>
                    </span>
                  </div>
                </li>
              </ul>
              <ul class="newslist">
                <li class="clearfix">
                  <div class="newpic">
                    <a href="javascript:">
                      <img src="../../../../../../../../work/大连机床/大连机床/img/20160309140251_92911.jpg">
                    </a>
                  </div>
                  <div class="txt">
                    <div class="date">
                      16-03-09
                    </div>
                    <div class="newstitle">
                      <h5>
                        2016升级改造 全线产品 崭新呈现
                      </h5>
                    </div>
                    <div class="newscontent">
                      &nbsp; &nbsp; &nbsp; 2016升级改造 全线产品 崭新呈现。2016年大连机床集团对在线生产的机床产品，做了全面的升级改造。包括CDE...
                    </div>
                    <span class="more">
                      <a href="javascript:">
                        MORE
                      </a>
                    </span>
                  </div>
                </li>
              </ul>
              <ul class="newslist">
                <li class="clearfix">
                  <div class="newpic">
                    <a href="javascript:">
                      <img src="../../../../../../../../work/大连机床/大连机床/img/20160225152501_30681.jpg">
                    </a>
                  </div>
                  <div class="txt">
                    <div class="date">
                      16-02-25
                    </div>
                    <div class="newstitle">
                      <h5>
                        工信部罗文：以大数据助力制造强国设
                      </h5>
                    </div>
                    <div class="newscontent">
                      　　2015年中央经济工作会议提出，要加快制造强国建设、提高基础设施网络化水平等，推动形成新的增长点。党的十八届五中全会提出，实施国家大数据战略。大数据作为新一...
                    </div>
                    <span class="more">
                      <a href="javascript:">
                        MORE
                      </a>
                    </span>
                  </div>
                </li>
              </ul>
              <div class="page clearfix">
                <!-- <a>&lt;</a> <a href="" class="current">1</a> <a href="">2</a> <a href="">3</a> <a >&gt;</a>-->
                <a class="">
                </a>
                <a class="">
                  <</a>
                    <a class="current">
                      1
                    </a>
                    <a href="javascript:">
                      2
                    </a>
                    <a href="javascript:">
                      >
                    </a>
                    <a href="javascript:">
                    </a>
                    <div class="fly">
                      <img src="../../../../../../../../work/大连机床/大连机床/img/fly.png">
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="foot_box">
        <div class="foot_area">
          版权所有 @ 2006 - 2011 辽ICP备14011030号
          <br />
          本站永久网址：http://www.dlmtg.cn E-MAIL：607919@QQ.com
          <br />
          电话：0411-84448808 84448818 VIP专线：400-600-1239 24H支援：139-0411-5519
          <br />
          公司地址:辽宁省大连市西岗区香海花园7-3号 邮政编码:116021
        </div>
        <div class="foot_area2">
          <img src="../../../../../../../../work/大连机床/大连机床/img/20160224080018_52025.jpg" alt="" />
          <span class="txt">
            官方微信
          </span>
        </div>
      </div>
    </footer>
    <div class="floatright">
      <a href="#header" id="dftop">
        <img src="../../../../../../../../work/大连机床/大连机床/img/jt.png">
      </a>
      <a title="在线客服" href="http://wpa.qq.com/msgrd?V=1&uin=607919&Site=大连机床、大连机床厂、大连机床集团、大连机床集团有限责任公司&Menu=yes">
        <img src="../../../../../../../../work/大连机床/大连机床/img/qq.png">
      </a>
      <a class="wwxx">
        <img src="../../../../../../../../work/大连机床/大连机床/img/wx.png">
      </a>
      <div class="floatwx">
       <img src="../../../../../../../../work/大连机床/大连机床/img/20160224080018_52025.jpg" alt="" />
        <br />
      </div>
      <a class="ttel" title="客服热线">
        <img src="../../../../../../../../work/大连机床/大连机床/img/telr.png">
      </a>
      <div class="floattel">
        400-600-1239
      </div>
      <div class="floatred">
      </div>
    </div>
    <script>
      var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?8ba1608c7532722adab8f82f29298009";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <script type="text/javascript" src="../../../../../../../../work/大连机床/大连机床/js/mine.js">
    </script>
  </body>
</html>