<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    产品中心-大连机床、大连机床厂、大连机床集团、大连机床集团有限责任公司
  </title>
  <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js">
    </script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="../../../../../../../../work/大连机床/大连机床/css/style.css">
  <link rel="stylesheet" type="text/css" href="../../../../../../../../work/大连机床/大连机床/css/df.css">
  <script src="../../../../../../../../work/大连机床/大连机床/js/h5.js" type="text/javascript">
  </script>
  <script src="../../../../../../../../work/大连机床/大连机床/js/jquery.js" type="text/javascript">
  </script>
  <script type="text/javascript" src="../../../../../../../../work/大连机床/大连机床/js/jquery-ui.js">
  </script>
  <script type="text/javascript" src="../../../../../../../../work/大连机床/大连机床/js/fwslider.js">
  </script>
</head>
<body>
  <header id="header">
    <div class="head_box">
      <div class="logo">
        <a href="index.php">
          <img src="../../../../../../../../work/大连机床/大连机床/img/20160223165835_61470.png">
        </a>
      </div>
      <div class="head_right clearfix">
        <a href="javascript:" class="btn">
          优惠活动
        </a>
        <img src="../../../../../../../../work/大连机床/大连机床/img/tel.png">
        TEL:400-600-1239
      </div>
    </div>
  </header>
  <nav id="nav">
    <ul>
      <li>
        <a href="index.html" target="">
          首页
        </a>
      </li>
      <li class="on">
        <a href="product.html" target="">
          产品中心
        </a>
      </li>
      <li>
        <a href="about.html" target="">
          关于我们
        </a>
      </li>
      <li>
        <a href="news.html" target="">
          新闻动态
        </a>
      </li>
     <!--  <li>
        <a href="javascrpt:" target="">
          营销网络
        </a>
      </li>
      <li>
        <a href="javascrpt:" target="">
          技术支持
        </a>
      </li>
      <li>
        <a href="javascrpt:" target="">
          联系我们
        </a>
      </li> -->

      <!-- <li class="on"><a href="index.htm"> 网站首页</a></li>
      <li><a href="products_list.htm"> 产品中心</a></li>
      <li><a href="about.htm"> 关于我们</a></li>
      <li><a href="news_list.htm"> 新闻动态</a></li>
      <li><a href="network.htm"> 营销网络</a></li>
      <li><a href="support.htm"> 技术支持</a></li>
      <li><a href="contact.htm"> 联系我们</a></li>-->
      <li class="last">
        <a href="javascrpt:">
          ENGLISH
        </a>
      </li>
    </ul>
  </nav>
  <div id="nbanner">
    <img src="../../../../../../../../work/大连机床/大连机床/img/20160225114612_21412.jpg">
  </div>
  <div class="max">
    <div id="content" class="clearfix">
      <div id="side">
        <div class="s_title1">
          产品中心
        </div>
        <!--<ul class="s_link1">
        <li  class="on"><a href="download.htm">下载中心</a></li>
        <li><a href="#">国内销售网络</a></li>
        <li><a href="apply.htm">维修网上申报</a></li>
        </ul>-->
        <div class="s_link1">
          <div class="tree_box">
            <h3>
              <a href="javascript:">
                普通车床
              </a>
            </h3>
            <ul class="tree_one">
              <li class="two">
                <h4>
                  <a href="javascript:">
                    CDE-A系列普通车床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    CW-E系列普通车床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    CDS-B/C系列普通车床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    CDS6132系列普通车床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    CDL系列普通车床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    CDE6145B系列普通车床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    CW-M系列重型车床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    CW-H系列重型车床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    CW-P系列重型车床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
            </ul>
          </div>
          <div class="tree_box">
            <h3>
              <a href="javascript:">
                数控车床
              </a>
            </h3>
            <ul class="tree_one">
              <li class="two">
                <h4>
                  <a href="javascript:">
                    卧式平床身数控车床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    卧式平床身数控车削中心
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    卧式平床身专用数控车床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    卧式斜床身数控车床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    卧式斜床身数控车削中心
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    卧式斜床身精密数控车床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    卧式斜床身数控车铣中心
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    卧式车铣复合中心
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    立式车铣复合中心
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
            </ul>
          </div>
          <div class="tree_box">
            <h3>
              <a href="javascript:">
                加工中心
              </a>
            </h3>
            <ul class="tree_one">
              <li class="two">
                <h4>
                  <a href="javascript:">
                    立式加工中心
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    卧式加工中心
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
            </ul>
          </div>
          <div class="tree_box">
            <h3>
              <a href="javascript:">
                数控铣床
              </a>
            </h3>
            <ul class="tree_one">
              <li class="two">
                <h4>
                  <a href="javascript:">
                    XD系列立式数控铁床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    ZTXX装调修系列
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    龙门铁床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
            </ul>
          </div>
          <div class="tree_box">
            <h3>
              <a href="javascript:">
                摇臂钻床
              </a>
            </h3>
            <ul class="tree_one">
              <li class="two">
                <h4>
                  <a href="javascript:">
                    Z30系列摇臂钻床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:2">
                    Z33系列摇臂钻床
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
            </ul>
          </div>
          <div class="tree_box">
            <h3>
              <a href="javascript:">
                机床配件
              </a>
            </h3>
            <ul class="tree_one">
              <li class="two">
                <h4>
                  <a href="javascript:">
                    CDE系列车床配件
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    CWE系列车床配件
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    CDS系列车床配件
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    CDL系列车床配件
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    CKA系列数控车床配件
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    VDF 加工中心配件
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    其它机床配件
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
            </ul>
          </div>
          <div class="tree_box">
            <h3>
              <a href="javascript:">
                卡盘
              </a>
            </h3>
            <ul class="tree_one">
              <li class="two">
                <h4>
                  <a href="javascript:">
                    三爪自定心卡盘
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    四爪单动卡盘
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    动力卡盘
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    管子卡盘
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
              <li class="two">
                <h4>
                  <a href="javascript:">
                    电动三爪自定心卡盘
                  </a>
                </h4>
                <ul class="tree_two">
                </ul>
              </li>
            </ul>
          </div>
          <div class="tree_box">
            <h3>
              <a href="javascript:">
                机床附件
              </a>
            </h3>
            <ul class="tree_one">
            </ul>
          </div>
          <div class="tree_box">
            <h3>
              <a href="javascript:">
                电器件
              </a>
            </h3>
            <ul class="tree_one">
            </ul>
          </div>
          <div class="tree_box">
            <h3>
              <a href="javascript:">
                液压件
              </a>
            </h3>
            <ul class="tree_one">
            </ul>
          </div>
          <div class="tree_box">
            <h3>
              <a href="javascript:">
                其它机床产品
              </a>
            </h3>
            <ul class="tree_one">
            </ul>
          </div>
        </div>
        <div class="s_title2">
          400-600-1239
        </div>
      </div>
      <div id="main">
        <div class="title clearfix">
          <div class="man">
            <div class="three">
            </div>
            <img src="../../../../../../../../work/大连机床/大连机床/img/man.png">
          </div>
          <div class="location">
            当前位置：首页 / 产品中心
          </div>
          <div class="titlecon">
            <div class="titleCH">
              <h3>
                产品中心
              </h3>
              <span class="titleEn">
                PRODUCT CENTER
              </span>
            </div>
            <div class="intro">
              大连机床拥有丰富的各类机床资源，普通车床、数控车床、加工中心、柔性加工自动生产及itech等系列产品。
            </div>
          </div>
        </div>
        <div class="detail">
          <div class="detailtitle clearfix">
            <h2>
              产品中心
            </h2>
            <div class="detailEn2">
              "全国机床行业十八罗汉之一"
            </div>
          </div>
          <ul class="prodlist clearfix">
            <li>
              <div class="prod">
                <a href="javascript:">
                  <img src="../../../../../../../../work/大连机床/大连机床/img/20160226143022_17904.jpg">
                </a>
              </div>
              <div class="txt">
                <a href="javascript:">
                  CDE6140A系列卧式车床
                </a>
              </div>
            </li>
            <li>
              <div class="prod">
                <a href="javascript:">
                  <img src="../../../../../../../../work/大连机床/大连机床/img/20160226143015_27080.jpg">
                </a>
              </div>
              <div class="txt">
                <a href="javascript:">
                  CW-E系列卧式车床
                </a>
              </div>
            </li>
            <li class="last">
              <div class="prod">
                <a href="javascript:">
                  <img src="../../../../../../../../work/大连机床/大连机床/img/20160226142327_66944.jpg">
                </a>
              </div>
              <div class="txt">
                <a href="javascript:">
                  CK-系列数控车床（常规产品）
                </a>
              </div>
            </li>
            <li>
              <div class="prod">
                <a href="javascript:">
                  <img src="../../../../../../../../work/大连机床/大连机床/img/20160226142040_11963.jpg">
                </a>
              </div>
              <div class="txt">
                <a href="javascript:">
                  VDF系列立式加工中心（常规产品）
                </a>
              </div>
            </li>
            <li>
              <div class="prod">
                <a href="javascript:">
                  <img src="../../../../../../../../work/大连机床/大连机床/img/20160226114157_73281.jpg">
                </a>
              </div>
              <div class="txt">
                <a href="javascript:">
                  大连机床CDS6150B-齿轮
                </a>
              </div>
            </li>
            <li class="last">
              <div class="prod">
                <a href="javascript:">
                  <img src="../../../../../../../../work/大连机床/大连机床/img/20160226114107_77346.jpg">
                </a>
              </div>
              <div class="txt">
                <a href="javascript:">
                  大连机床厂 加工中心-机械主轴
                </a>
              </div>
            </li>
            <li>
              <div class="prod">
                <a href="javascript:">
                  <img src="../../../../../../../../work/大连机床/大连机床/img/20160226114132_53643.jpg">
                </a>
              </div>
              <div class="txt">
                <a href="javascript:">
                  大连机床-数控刀架
                </a>
              </div>
            </li>
            <li>
              <div class="prod">
                <a href="javascript:">
                  <img src="../../../../../../../../work/大连机床/大连机床/img/20160226114130_35946.jpg">
                </a>
              </div>
              <div class="txt">
                <a href="javascript:">
                  大连数控机床 CL-15 全机能数控Z轴
                </a>
              </div>
            </li>
            <li class="last">
              <div class="prod">
                <a href="javascript:">
                  <img src="../../../../../../../../work/大连机床/大连机床/img/20160226114158_77412.jpg">
                </a>
              </div>
              <div class="txt">
                <a href="javascript:">
                  大连机床-CDS6150B--齿轮
                </a>
              </div>
            </li>
            <li>
              <div class="prod">
                <a href="javascript:">
                  <img src="../../../../../../../../work/大连机床/大连机床/img/20160226113558_79639.jpg">
                </a>
              </div>
              <div class="txt">
                <a href="javascript:">
                  大连机床CW6180E-标准中心架
                </a>
              </div>
            </li>
            <li>
              <div class="prod">
                <a href="javascript:">
                  <img src="../../../../../../../../work/大连机床/大连机床/img/20160329070117_93556.jpg">
                </a>
              </div>
              <div class="txt">
                <a href="javascript:">
                  大连机床 CW6163E 大拖板
                </a>
              </div>
            </li>
            <li class="last">
              <div class="prod">
                <a href="javascript:">
                  <img src="../../../../../../../../work/大连机床/大连机床/img/20160226114210_59391.jpg">
                </a>
              </div>
              <div class="txt">
                <a href="javascript:">
                  大连机床配件 大连第二机床厂 CW616
                </a>
              </div>
            </li>
          </ul>
          <div class="page clearfix">
            <!--<a>&lt;</a> <a href="" class="current">1</a> <a href="">2</a> <a href="">3</a> <a >&gt;</a>-->
            <a class="">
            </a>
            <a class="">
              <</a>
                <a href="javascript:" class="current">
                  1
                </a>
                <a href="javascript:">
                  2
                </a>
                <a href="javascript:">
                  3
                </a>
                <a href="javascript:">
                  4
                </a>
                <a href="javascript:">
                  5
                </a>
                <a href="javascript:">
                  6
                </a>
                <a href="javascript:">
                  7
                </a>
                <a href="javascript:">
                  8
                </a>
                <a href="javascript:">
                  9
                </a>
                <a href="javascript:">
                  10
                </a>
                <a href="javascript:2">
                  >
                </a>
                <a href="javascript:10">
                </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="foot_box">
      <div class="foot_area">
        版权所有 @ 2006 - 2011 辽ICP备14011030号
        <br />
        本站永久网址：http://www.dlmtg.cn E-MAIL：607919@QQ.com
        <br />
        电话：0411-84448808 84448818 VIP专线：400-600-1239 24H支援：139-0411-5519
        <br />
        公司地址:辽宁省大连市西岗区香海花园7-3号 邮政编码:116021
      </div>
      <div class="foot_area2">
        <img src="../../../../../../../../work/大连机床/大连机床/img/20160224080018_52025.jpg" alt=""
        />
        <span class="txt">
          官方微信
        </span>
      </div>
    </div>
  </footer>
  <div class="floatright">
    <a href="#header" id="dftop">
      <img src="../../../../../../../../work/大连机床/大连机床/img/jt.png">
    </a>
    <a title="在线客服" href="http://wpa.qq.com/msgrd?V=1&uin=607919&Site=大连机床、大连机床厂、大连机床集团、大连机床集团有限责任公司&Menu=yes">
      <img src="../../../../../../../../work/大连机床/大连机床/img/qq.png">
    </a>
    <a class="wwxx">
      <img src="../../../../../../../../work/大连机床/大连机床/img/wx.png">
    </a>
    <div class="floatwx">
      <img src="../../../../../../../../work/大连机床/大连机床/img/20160224080018_52025.jpg" alt=""
      />
      <br />
    </div>
    <a class="ttel" title="客服热线">
      <img src="../../../../../../../../work/大连机床/大连机床/img/telr.png">
    </a>
    <div class="floattel">
      400-600-1239
    </div>
    <div class="floatred">
    </div>
  </div>
  <script>
    var _hmt = _hmt || []; (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?8ba1608c7532722adab8f82f29298009";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <script type="text/javascript">
    $(function() {
      var h3 = $(".tree_box").find("h3");
      var tree_one = $(".tree_box").find(".tree_one");
      var h4 = $(".tree_one").find("h4");
      var tree_two = $(".tree_one").find(".tree_two");
      h3.each(function(i) {
        $(this).click(function() {
          tree_one.eq(i).slideToggle();
          tree_one.eq(i).parent().siblings().find(".tree_one").slideUp();
        })
      }) h4.each(function(i) {
        $(this).click(function() {
          tree_two.eq(i).slideToggle();
          tree_two.eq(i).parent().siblings().find(".tree_two").slideUp();
        })
      })
    })
  </script>
  <script type="text/javascript" src="../../../../../../../../work/大连机床/大连机床/js/mine.js">
  </script>
</body>
</html>