<footer class="footer">
    <div class="container">
        <div class="fline"></div>
        <div class="footer_main">
            <!--底部导航区-->
            <div class="footer_list">
                <ul class="footer_list_ul">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <span>|</span>
                    </li>
                    <li>
                        <a href="#">合作洽谈</a>
                    </li>
                    <li>
                        <span>|</span>
                    </li>
                    <li>
                        <a href="#">招聘英才</a>
                    </li>
                    <li>
                        <span>|</span>
                    </li>
                    <li>
                        <a href="#">联系我们</a>
                    </li>
                    <li>
                        <span>|</span>
                    </li>
                    <li>
                        <a href="#">关于我们</a>
                    </li>
                </ul>
            </div>
            <!--版权信息区-->
            <div class="footer_end">
                <p>Copyright 2016 视频网站 All rights reserved.</p>
                <p>视频网站wwww.shipinwangzhan.com 粤ICP备10086号-1</p>
            </div>
        </div>
    </div>
</footer>

</body>