<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="renderer" content="webkit">
    <!-- 目前仅限360急速浏览 webkit:急速  ie-comp:ie兼容模式   ie-stand: ie标准模式 -->
    <title>
        youku视频网
    </title>

    <link rel="stylesheet" type="text/css" href="<{$res}>/css/index.css">
</head>
<!--头部-->

<script type="text/javascript">
</script>

<body>
    <!--头部区-->
    <header>
        <div class="main">
            <!--头部LOGO区-->
            <div class="logo">
                    <a href="">
                        <img src="<{$res}>/images/LOGO.png" alt="logo" title="logo" />
                    </a>
            </div>
            <!--头部搜索区-->
            <div class="">
                <div class="header_search">
                    <input type="text" class="header_search_text" placeholder="Big笑闻录：666！男子酒驾当">
                </div>
                <button type="submit" class="header_search_button">搜索</button>
            </div>
            <!--头部导航区-->
            <div class="header_nav">
                <ul class="header_nav_menu">
                    <li>
                        <a href="#">个人中心</a>
                    </li>
                    <li>
                        <a href="#">我的消息</a>
                    </li>
                    <li>
                        <a href="#">我的订阅</a>
                    </li>
                    <li>
                        <a href="#">播放记录</a>
                    </li>
                </ul>
            </div>
            <!--头部上传视频区-->
            <div class="upload">
                <a href="">
                    <img src="<{$res}>/images/upload.png" alt="UPload" title="UPload" />
                </a>
            </div>
        </div>
    </header>