<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="renderer" content="webkit">
    <!-- 目前仅限360急速浏览 webkit:急速  ie-comp:ie兼容模式   ie-stand: ie标准模式 -->
    <title>
        <{$data_site.default_keywords}>
    </title>
    <link rel="stylesheet" type="text/css" href="<{$res}>/css/index.css" />
    <!--本页面样式-->
    <link rel="stylesheet" type="text/css" href="<{$res}>/lunbo/css/yx_rotaion.css" />
    <!--轮播图样式-->
    <script type="text/javascript" src="<{$res}>/js/url.js"></script>

    <link rel="stylesheet" type="text/css" href="<{$res}>/css/bootstrap.min.css">
    <script type="text/javascript" src="<{$res}>/js//jquery.min.js"></script>
    <script type="text/javascript" src="<{$res}>/js/bootstrap.min.js"></script>
</head>
<!--头部-->

<script type="text/javascript">
</script>

<body>
    <header>
        <div class="container">
            <nav class=" navbar navbar-defaul " role="navigation ">

                <!--LOGO区-->
                <div class="navbar-header ">
                    <img src="<{$res}>/images/logo.png" href="#">
                </div>
                <!--搜索区-->
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Big笑闻录：666！男子酒驾当">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <!--导航区-->
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">个人中心</a>
                    </li>
                    <li>
                        <a href="#">我的消息</a>
                    </li>
                    <li>
                        <a href="#">我的订阅</a>
                    </li>
                    <li>
                        <a href="#">播放记录</a>
                    </li>
                </ul>
                <img src="<{$res}>/images/upload.png" href="#">
            </nav>
        </div>

    </header>
    </div>