<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>惠州托马斯</title>
    <meta name="keywords" content="惠州托马斯">
    <meta name="description" content="惠州托马斯后台">

    <link rel="shortcut icon" href="<{$res}>/favicon.ico">
    <link href="<{$res}>/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<{$res}>/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="<{$res}>/bootstrap/css/animate.min.css" rel="stylesheet">
    <link href="<{$res}>/bootstrap/css/style.min.css" rel="stylesheet">
    <script src="<{$res}>/bootstrap/js/config.js"></script>


    <base target="_blank">

</head>