<{include "public/header.html"}>
<style>
    .label{
        font-size: 16px;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>广告图片管理,pc首页轮播图1920X520，分页面1000*250，手机轮播图320*160</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">
                    <ul class="thumbnails">
                        <{foreach $data_site as $key=>$val}>
                            <li class="list-group-item">
                                <a href="<{$val.img_url}>" class="thumbnail">
                                    <img src="<{$val.pic_url}>"  alt="1440x390" style="width: 1440px;height: 390px;">
                                </a>
                                <span style="margin-left: 5px;" class="label label-primary">
                                    <i onclick="edit_adv('<{$val.id}>','<{$val.img_name}>','<{$val.img_desc}>','<{$val.img_url}>','<{$val.position}>','<{$val.cls_id}>');" class="fa fa-edit" data-toggle="modal" data-target="#myModal"></i>
                                </span>
                                <span style="margin-left: 5px;" class="label label-danger" onclick="del_adv('<{$val.id}>')">
                                    <i class="fa fa-trash-o"></i>
                                </span>
                                <span style="margin-left: 20px;">
                                    请上传<{if $val['position']==2}>320*160<{else if $val['cls_id']!=0}>1000*250<{else}>1920*520<{/if}>像素的图片</span>
                                <span style="margin-left: 50px;">
                                    <{if $val['position']==1}>PC端<{else}>手机端<{/if}>图片
                                </span>
                            </li>
                        <{/foreach}>
                    </ul>
                        <p align="center">
                            <button  class="label label-success" >保存</button>
                        </p>

                </div>
            </div>
        </div>
    </div>
   <!-- <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>其他栏目顶部广告</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <li class="list-group-item">
                        <a href="#" class="thumbnail">
                            <img src=""  alt="1440x390" style="width: 1440px;height: 390px;">
                        </a>
                            <span class="label label-primary">
                                <i class="fa fa-edit"></i>
                            </span>
                            <span style="margin-left: 5px;" class="label label-danger">
                                <i class="fa fa-trash-o"></i>
                            </span>
                    </li>

                </div>
            </div>
        </div>
    </div>-->

    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <form enctype="multipart/form-data" class="form-horizontal m-t" target="_self" method="post" action="<{$url}>/mod_adv">

        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <i class="fa fa-laptop modal-icon"></i>
                    <h4 class="modal-title">首页广告管理</h4>
                    <small id="store_list_small" class="font-bold">管理首页的广告</small>
                </div>
                <div class="modal-body">
                    <p style="text-align: center;font-size: 14px"><strong>企业后台</strong></p>
                    <p style="color: #dd4444">为了防止,首页出现混乱，请按照尺寸上传。</p>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">广告名称：</label>
                        <div class="col-sm-8">
                            <input name="ad_name" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">广告介绍：</label>
                        <div class="col-sm-8">
                            <input name="ad_desc" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">选择图片：</label>
                        <div class="col-sm-8">
                            <input name="ad_pic" class="form-control" type="file">
                            <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 请上传对应像素的图片</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">图片链接：</label>
                        <div class="col-sm-8">
                            <input name="ad_link" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">显示位置：</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="position">
                                <option value="1">PC</option>
                                <option value="2">手机</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">显示页面：</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="cls_id">
                                <{foreach $column as $val}>
                                <option value="<{$val.cls_id}>"><{$val.cls_name}></option>
                                <{/foreach}>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <input type="hidden" name="adv_id">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>

        </form>
    </div>

</div>
<script src="<{$res}>/bootstrap/js/jquery.min.js?v=2.1.4"></script>
<script src="<{$res}>/bootstrap/js/bootstrap.min.js?v=3.3.5"></script>
<script src="<{$res}>/bootstrap/js/content.min.js?v=1.0.0"></script>
<script src="<{$res}>/bootstrap/js/plugins/validate/jquery.validate.min.js"></script>
<script>
    function edit_adv(adv_id,img_name,img_desc,img_url,position,cls_id){

        console.log(adv_id);
        console.log(img_name);
        console.log(img_desc);
        console.log(img_url);

        $("input[name='adv_id']").val(adv_id);
        $("input[name='ad_name']").val(img_name);
        $("input[name='ad_desc']").val(img_desc);
        $("input[name='ad_link']").val(img_url);
        //选择默认的类别
        if(position){
            $("select[name='position']").find("option[value='"+position+"']").attr("selected",true);
        }
        if(cls_id){
            $("select[name='cls_id']").find("option[value='"+cls_id+"']").attr("selected",true);
        }
    }
    function del_adv(adv_id){
        console.log(adv_id);
        var r=confirm("是否删除");
        if (r==true){
            $.ajax({
                url:"<{$url}>/del_adv",
                type:"POST",
                data:{adv_id:adv_id},
                success:function(msg){
                    console.log(msg);
                    if(msg.code==200){
                        alert(msg.msg);
                    }else{
                        alert(msg.msg);
                    }
                    window.location.reload();
                },
                error:function(){
                    console.log("http error");
                }
            });
        }
        return false;
        
    }
</script>